/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
/* стили */
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {
/* стили */
}



/* tablets (my size)  */
@media only screen and (max-width: 960px)
 {
/* стили */

.container {
	width: 100%;
}

.item img {
	width: 100%;
}
.line {
	width: 320px;
}
}

/* Smartphones (my size)  */
@media only screen and (max-width: 768px)
 {
/* стили */
body {
	font-family: century_gothic;
}
.container {
	width: 100%;
}
.social {
	display: none;
}
.navmenu {
	display: none;
}
.headerline{
	display: none;
}
.fixbut {
	display: none;
}
.button {
	margin-top: 20px;
	width: 130px;
	padding: 5px 0;
}
.header {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 55px;
	background: #fff;
	z-index: 10;
	box-shadow: 0px 0px 10px 0px #999;
}

/* mobile menu */
.menumobile {
	display: block;
}
.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  padding: 15px;
  margin: 0;
  box-sizing: border-box;
  width: 200px;
  height: 270px;
  top: 0;
  left: -210px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  background-color: #eee;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px -2px #999;
}
.hidden-menu a {
	color: #999;
	text-decoration: none;
	font-weight: bold;
	line-height: 40px;
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  padding: 5px;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 2px;
  background-color: #999;
  margin: 8px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 160px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}
.submenu {
	display: none;
	position: absolute;
	z-index: 5;
	width: 110px;
	height: 185px;
	margin-left: -10px;
	padding: 10px 10px 10px 30px;
	border: 1px solid #999;
	background: #fff;
	box-shadow: 5px 5px 10px -2px #999;
}

.menu_on {
	display: block;
}

/* LOGO */
.logo {
	margin: 0 auto;
	margin-top: 7px;
	margin-bottom: 5px;
}
.logo img {
	height: 40px;
	width: 40px;
}
/* About */
#about {
	padding-top: 60px;
	padding-bottom: 30px;
}
.make {
	width: 280px;
}
.aboutitem {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}
.aboutitem_img {
	display: block;
	margin: 0 auto;
}
.aboutitem_img img {
	width: 100%;
	margin-bottom: 20px;
}
.aboutitem_text p {
	display: none;
}
.aboutustitle h4 {
	font-size: 28px;
}
.aboutus p {
	width: 90%;
	line-height: 24px;
}
/* Services */
#services {
	padding-top: 30px;
}
#services p {
	display: none;
}
.services_manicure {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
}
.services_manicure img {
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	order: -1;
}
.services_pedicure {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.services_pedicure img {
	display: block;
	margin: 0 auto;
}
.services_pedicuretxt{
	margin-top: 20px;
}
.titlebrands {
	font-size: 1.5rem;
	margin-bottom: 20px;
}
.brands_item {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.item {
	width: 80%;
	height: 80%;
}
.item img {
	width: 80%;
	height: 80%;
}

.line {
	width: 200px;
	margin-top: 40px;
}
.services_pedicure {
	margin-top: 40px;
}
/* Contact */
.contact{
	height: 90%;
	padding-bottom: 10px;
	padding-left: 15px;
}
.contact h4 {
	font-size: 1.2rem;
}
.contact p {
	font-family:century_gothic;
	font-size: 14px;
}
.location {
	margin-top: 15px;
}
.phone {
	margin-top: 10px;
	margin-bottom: 10px;
}
.copy {
	font-size: 14px;
}
.tariff {
	width: 100%;
}
.tariff1 {
	margin-left: 0;
	margin-right: 20px;
	width: 100%
}
.tariff2 {
	margin-right: 20px;
	width: 100%
}
.tariff3 {
	display: block;
	margin: 0 auto;
}
.video {
	width: 99%;
	border: 1px solid #999;
}
.gallery_img {
  margin: 0 auto;
  padding-top: 100px;
  width: 480px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
 

}
}