html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

header {
	background-color: #000;
}
.logomenu {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.logoimg {
	display: flex;
	display: -webkit-flex;
}
.logo {
	color: #15b000;
	font-family: calibri;
	font-size: 50px;
	font-weight: bold;
	margin-top: 25px;
}
.menu {
	display: flex;
	display: -webkit-flex;
	margin-top: 38px;
	margin-right: 35px;
}
.menu a {
	color: #15b000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	margin-left: 20px;
	
}

.title_head {
	background: url(../img/chip11.jpg) no-repeat top center / cover;
	height: 500px;
	padding-top: 120px;
}
.authorized {
	font-family: calibri;
	font-size: 60px;
	color: #fff;
	text-shadow: 5px 5px 10px green;
	font-weight: bold;
	width: 760px;
	margin: 0 auto;
	
}
.button {
	background: blue;
	display: block;
	width: 230px;
	margin: 0 auto;
	border-radius: 3px;
	padding: 20px 0;
	margin-top: 60px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-family: calibri;
	font-weight: bold;
	font-size: 20px;
	
	text-align: center;
}



 {
	border: 1px solid red;
}