html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.logomenu {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
}
.social {
	width: 240px;
	margin-top: 25%;
	height: 0%;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
}
.logo {
	width: 200px;
}
.menu {
	width: 300px;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 25%;
}
.menu a {
	font-family: arial;
	font-size: 15px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.menu a:hover {
	color: #888;
}
.bgimg {
	background: url(../img/bg1.jpg) no-repeat  center / cover;
	height: 80vh;
}
h1 {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	font-family: arial;
	font-size: 36px;
	text-align: center;
	margin-top: 60px;
}
h3 {
	color: #000;
	font-weight: bold;
	font-family: PinyonScript;
	font-size: 28px;
	text-align: center;
	margin-top: 24px;
}
.aboutitem {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 65px;
}
.aboutitem_img {
	width: 360px;
}
.aboutitem_text {
	width: 380px;
}
.aboutitem_text p {
	font-size: 19px;
	text-indent: 10px;
	color: #000;
	text-align: center;
	margin-top: 12%;
}
.services {
	background: #faf3f1;
	margin-top: 80px;
	padding-top: 1px;
	padding-bottom: 50px;
}
.services_manicure {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
}
.services_manictxt {
	width: 380px;
}
.services p {
	font-size: 19px;
	text-indent: 10px;
	color: #000;
	text-align: center;
	margin-top: 5%;
}
h2 {
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin-top: 10px;
}
.manic {
	width: 320px;
	height: 320px;
	margin-right: 35px;
}
.services_pedicure {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 80px;
}
.pedicure {
	width: 320px;
	height: 320px;
	margin-left: 35px;
}
.services_pedicuretxt {
	width: 380px;
}
.line {
	width: 850px;
	margin-top: 80px;
}
.titlebrands {
	font-size: 30px;
	margin-bottom: 60px;
}
.brands_item {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.item {
	width: 300px;
	height: 300px;
	padding-top: 5%;
}
.item img {
	display: block;
	margin: 0 auto;
}
.gallery {
	background: #2c0432;
	height: 650px;
	margin-top: 50px;
	padding-top: 1px;
}
.gallerytxt {
	color: #fff;
}


.contact {
	background: #4c4b4c;
	height: 440px;
	padding-top: 1px;
}
h4 {
	font-family: arial;
	font-weight: bold;
	text-align: center;
	font-size: 36px;
	margin-top: 50px;
}
.location {
	margin-top: 35px;
}
.map {
	width: 30px;
	height: 30px;
	margin-right: 20px;
}
.location p {
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
}
.phone {
	margin-top: 35px;
}
.phone p {
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
}
.mail {
	margin-top: 35px;
	width: 360px;
}
.mail p {
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
}
.social2 {
	width: 240px;
	height: 0%;
	margin-top: 35px;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;	
}
.social2 img:hover {
	box-shadow: 0 0 100px #999999;
}
.footer {
	background: #000;
	height: 50px;
	padding-top: 30px;
}
.copy {
	color: #8a898a;
	text-align: center;
}
.fixbut {
	 position: fixed; bottom: 40px; right: 20px;
	 display: block; background: #71287c;
	 font-family: arial; border-radius: 50%;
	 color: #fff; text-decoration: none;
	 padding: 6px 23px; font-size: 14px;
	 box-shadow: 5px 5px 20px black;
}
.fixbut:hover {
	 background: #874d90; 
}


  {
 	border: 1px solid red ;
 }